.leftPokemon {
  background-color: #f899f8;
  -moz-box-shadow: 24px 21px 13px -3px rgba(6, 23, 150, 0.67);
  -webkit-box-shadow: 24px 21px 13px -3px rgba(6, 23, 150, 0.67);
  -ms-box-shadow: 24px 21px 13px -3px rgba(6, 23, 150, 0.67);
  box-shadow: 24px 21px 13px -3px rgba(6, 23, 150, 0.67);
  width: 200px;
  /* margin: 10px; */
  padding: 10px;
}

form {
  background-color: white;
  height: 40px;
}

.pokemonNoName {
  margin: 0;
  padding: 5px;
}

.dataImg {
  width: 96px;
  height: 96px;
  width: 50%;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.pokemonStatusToTal {
  padding: 5px;
  margin: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: rgb(6, 0, 179);
}
